<!DOCTYPE html>

<html>

<head>
     <title>About</title>
     <link rel="stylesheet" href="/css/styles.css">
     <link rel="icon" href="/img/weather.png">
</head>

<body>

     <div class="main-content">
          {{>header}}
          <p> This Site Was Created by Vishal Bhat .It uses data from mapbox.com and weather stack api. </p>
          <img class="portrait" src="/img/me.jpeg">
     </div>

     {{>footer}}
</body>

</html>